---
const { formation } = Astro.props
---

<div class="formation-preview">
  <div class="formation-preview_img">
    <img src={formation.thumbnail} width="600px" alt="formation preview">
  </div>
  <div class="formation-preview_content">
    <h2>{formation.title}</h2>
    <div class="formation-preview_meta">
      <p class="formation-duration">{formation.duration}</p>
      <p>{formation.level}</p>
    </div>
    <p><span class="formation-price">{formation.price}</span></p>
    </div>
</div>

<style>
  .formation-preview {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .05);
  }

  .formation-preview_img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
  }

  .formation-preview_content {
    padding: 20px 40px;
    text-align: center;
  }

  .formation-preview_meta {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }

  .formation-preview h2 {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
  }

  .formation-price {
    font-size: 1.2rem;
    font-weight: 600;
  }
  @media screen and (min-width: 768px) {
    .formation-preview {
      max-width: 32%;
  }
</style>